p {
  margin: 0;
}

.details-container {
  display: flex;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  /* flex-direction: row; */
  padding-bottom: 2rem;
  /* position: relative; */
}

.details-header {
  color: orange;
  font-size: 3rem;
  text-align: center;
  margin: 0;
  /* margin-bottom: 1.4rem; */
  border: 0;
  padding: 0;
  padding-bottom: 1rem;
  /* text-decoration: underline; */
  /* height: 80%; */
  position: relative;
}

.line-container {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 0.2rem;
  padding: 0.2rem;
  padding-left: 0;
  padding-bottom: 1rem;
}

.line-collection-container {
  display: flex;
  justify-content: left;
  align-items: start;
  gap: 0rem;
  padding-bottom: 1rem;
}

.details-collection {
  background-color: #1d000d;
  /* display: inline; */
  height: auto;
  width: max-content;
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  gap: 0.2rem;
  border: 0.3rem solid #1d000d;
  border-radius: 0.5rem;
}

.details-collection-item {
  /* background-color: rgb(59, 20, 33); */
  background-color: orange;
  display: grid;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 1.1rem;
  border: 0.1rem solid #1d000d;
  border-radius: 0.2rem;
  padding: 0.2rem;
  margin: 0.1rem;
  color: rgb(59, 20, 33);
}

.details-image {
  display: inline;
  background-color: #1d000d;
  padding: 0.5rem;
  height: 80%;
  width: auto;
  border-radius: 0.5rem;
  /* width: 80%; */
}

.image {
  height: 100%;
  width: 100%;
}
