.footer {
  background-color: #1d000d;
  grid-row-start: 3;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 2;
  /* position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 12%; */

  display: grid;
  justify-content: center;
  align-content: center;
  /* width: 54rem; */
}

.navbar {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.link {
  font-size: 2rem;
  font-family: sans-serif;
  text-decoration: none;
  color: orange;
}

.link-active,
.link:hover {
  text-decoration: underline;
  color: rgb(255, 185, 20);
}
