.header {
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 2;
  grid-column-end: 2;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: #1d000d;
  /* position: absolute;
  top: 0;
  left: 0;
  right: 0; */

  /* background-image: url("../assets/poster.png");
  background-repeat: no-repeat;
  background-size: cover; */

  /* height: 100%; */
  /* width: 54rem; */
  /* height: 22%; */
  position: relative;
}

.header-img {
  height: 5rem;
  width: 28rem;
  background-color: aqua;
  background-image: url("../assets/poster.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.non-alkoholic-container {
  display: flex;
  justify-items: left;
  gap: 0.4rem;
  position: absolute;
  bottom: 2rem;
  left: 2rem;
}

.non-alkoholic-label {
  color: orange;
}

.non-alkoholic-checkbox {
  color: orange;
}
