@import url("./App.css");
@import url("./CocktailCard.css");
@import url("./CocktailDetailsPage.css");
@import url("./FavoritesPage.css");
@import url("./Footer.css");
@import url("./Header.css");
@import url("./grid-display.css");
@import url("./LikeButton.css");
@import url("./PaginationMenu.css");
@import url("./SerachForm.css");
@import url("./SearchPage.css");
@import url("./SearchResult.css");
@import url("./SearchResultList.css");

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  border: 0;
  padding: 0;
}

.main-content {
  background-color: rgb(59, 20, 33);
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 2;
  margin-block: 0.2rem;
  color: orange;
  /* padding: 1rem; */
  padding-top: 1rem;
  padding-bottom: 1rem;
  /* width: 54rem; */
}

.center-content {
  display: grid;
  justify-content: center;
  align-content: center;
}
