.search-main {
  display: grid;
  grid-template-columns: 38% 48%;
  grid-template-rows: 100%;
  justify-content: left;
  gap: 4rem;
  padding: 2rem;
  /* justify-content: space-around; */
}

.cocktail-container {
  width: 100%;
  /* display: flex;
  flex-direction: column; */
  /* justify-content: left; */
  /* flex-wrap: wrap; */
  /* height: 94%; */
  margin-block: 0;
  border: 0.5rem solid #1d000d;
  border-radius: 1rem;
  padding: 1rem;
  /* position: relative; */
}
