.ul {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

.search-main {
  display: flex;
  justify-content: space-around;
}

.list-item {
  display: block;
  padding-block: 0.4rem;
  cursor: pointer;
}

.cocktail-container {
  width: 40%;
  display: flex;
  justify-content: left;
  /* flex-wrap: wrap; */
  /* height: 94%; */
  margin-block: 0;
  border: 0.5rem solid #1d000d;
  border-radius: 1rem;
  padding: 1rem;

  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
}

/* ::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background: #1d000d;
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: orange;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 185, 25);
} */
